<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>入力画面</title>
</head>
<body><!-- 全角！で挟んだ箇所はJavaチームにあわせて修正が必要 12/13 -->
	<h1>プレゼント・住所入力</h1>
	<form th:action="@{！コントローラの入力チェックメソッド！}" method="post" th:object="${フォームクラス名}">
		<!-- プレゼントリスト -->
		<h2>プレゼントリスト</h2>
		<h5>1. ぬいぐるみ　2. グローブ　3. ブロック</h5>
		<h5>4. ゲームソフト　5. 本　6. 自転車</h5>
		<!-- 入力フォーム -->
		<div>
			<h2>プレゼント番号入力（1～6で入力）</h2>
			<input type="text" th:field="*{present}">
			<h2>住所入力</h2>
			<input type="text" th:field="*{address}">
		</div>
		<!-- 決定ボタン -->
		<input type="submit" value="決定">
		<!-- エラー表示  2行目#fields.errors(present)とかで個別にできるp.207 プレ・住所わけたい＆赤文字にしたい-->
			<ul th:if="${#fields.hasErrors('*')}">
				<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
	</form>
</body>
</html>