<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>入力画面</title>
	<link rel="stylesheet" th:href="@{/css/inputLayout.css}"><!-- 別ファイルのCSSを導入する際に記載　th:hrefにファイルパスを入れる -->
</head>
	<h1>プレゼント・住所入力</h1>
	<form th:action="@{/confirm}" method="post" th:object="${presentForm}">
		<!-- プレゼントリスト -->
		<h2>プレゼントリスト</h2>
		<h5>1. ぬいぐるみ　　2. グローブ　　　3. ブロック</h5>
		<h5>4. ゲームソフト　5. 本　　　　　　6. 自転車　</h5>
		<!-- 入力フォーム -->
 <!-- プレゼント -->
		<div>
			 <h2>プレゼント番号入力（1～6で入力）</h2>
        <input type="number" min="1" max="6" th:field="*{present}">
        <!-- プレゼントのエラーメッセージ -->
        <div class="errorStr" th:if="${#fields.hasErrors('present')}">
            <ul>
                <li th:each="err : ${#fields.errors('present')}" th:text="${err}"　style="color:red"></li>
            </ul>
        </div>
 <!-- 住所 -->
			<h2>住所入力</h2>
        	<input type="text" th:field="*{address}">
		</div>
		<!-- 住所のエラーメッセージ -->
        <div class="errorStr" th:if="${#fields.hasErrors('address')}">
            <ul>
                <li th:each="err : ${#fields.errors('address')}" th:text="${err}"　style="color:red"></li>
            </ul>
        </div>
    </div>

    <!-- 決定ボタン -->
    <input type="submit" value="決定">
</form>
</body>
</html>