<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>入力画面</title>
</head>
<body><!-- 全角！で挟んだ箇所はJavaチームにあわせて修正が必要 12/13 -->
	<h1>プレゼント・住所入力</h1>
	<form th:action="@{！コントローラの入力チェックメソッド！}" method="post" th:object="${フォームクラス名}">
		<!-- 入力フォーム -->
		<h2>プレゼント番号入力（1～6で入力）</h2>
		<input type="text" th:field="*{present}">
		<h2>住所入力</h2>
		<input type="text" th:field="*{address}">
		<!-- 決定ボタン -->
		<input type="submit" value="決定">
		<!-- エラー表示 -->
			<ul th:if="${#fields.hasErrors('*')}">
				<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
	</form>
</body>
</html>