<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>リクエスト一覧</title>
</head>
<body>
	<h1>リクエスト一覧</h1>
	<table th:if="${present_list}" border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>プレゼント番号</th>
				<th>住所</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="presentList : ${present_list}">
			<td th:text="${presentList.id}">ID</td>
			<td th:text="${presentList.present}">プレゼント番号</td>
			<td th:text="${presentList.address}">住所</td>
			</tr>
		</tbody>
	</table>
</body>
</html>