<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>リクエスト一覧</title>
	<link rel="stylesheet" th:href="@{/css/listLayout.css}"><!-- 別ファイルのCSSを導入する際に記載　th:hrefにファイルパスを入れる -->
</head>
<body>	
	<h1>🎄リクエスト一覧⛄</h1>
	<!-- サンタさんの画像
	<div class="santa-image">
	    <img src="/image/christmas_santa_sori.png" alt="ソリに乗ったサンタクロースの画像">
	</div> -->
	<form>
	<div class="presentList">
		<table th:if="${present_list}" border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>プレゼント番号</th>
					<th>プレゼント名</th>
					<th>住所</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="presentList : ${present_list}">
				<td th:text="${presentList.id}">ID</td>
				<td th:text="${presentList.present}">プレゼント番号</td>
				<td th:text="${presentList.nameEntity.name}">プレゼント名</td>
				<td th:text="${presentList.address}">住所</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- 集計結果表示 -->
    <div class="presentCounts">
        <h2>プレゼント集計結果</h2>
        <table th:if="${present_counts}" border="1">
            <thead>
                <tr>
                    <th>プレゼント名</th>
                    <th>登録数</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="presentCount : ${present_counts}">
                    <td th:text="${presentCount.name}">プレゼント名</td>
                    <td th:text="${presentCount.count}">登録数</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<!-- /santaMenu画面に戻るリンク -->
<div class="back-button">
    <a href="/santaMenu">
        <button type="button">サンタ専用メニューに戻る</button>
    </a>
    </div>
</body>
</html>