<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>サンタ専用メニュー</title>
    <link rel="stylesheet" th:href="@{/css/santa_menuLayout.css}">
</head>
<body>
    <h2>サンタ専用メニュー画面</h2>
    <div class="welcome-message">
        ようこそ、<span sec:authentication="name"></span> さん
    </div>
    <a th:href="@{/list}">リクエスト一覧へ</a>

    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>
