<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>入力結果</title>
	<link rel="stylesheet" th:href="@{/css/successLayout.css}">
</head>
<body>
	<!-- サンタさんの画像 -->
	<div class="santa-image">
	    <img src="/image/santa2.png" alt="サンタさん2">
	</div>
	
	<!-- タイトル -->
	<div class="title">
		<h1>リクエスト完了！</h1>
		<h1>25日まで良い子で待っててね</h1>
	</div>
	
	<!-- 戻るボタン -->
    <form th:action="@{/input}" method="get">
        <button type="submit" class="btn">入力画面にもどる</button>
	
	<!-- 降雪 -->
	<div class="snow">●</div>
	<div class="snow snow2nd">●</div>
    </form>
	
</body>
</html>