<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PresentMapper">

    <select id="getAllPresentEntities" resultType="com.example.demo.entity.PresentEntity">
        SELECT id, present, address
        FROM present_list;
    </select>
    
	<!-- 【INSERT】プレゼントの種類と住所を登録するSQL -->
	<insert id="insertPresentEntity" parameterType="com.example.demo.entity.PresentEntity">
		INSERT INTO present_list (present, address)
		VALUES (#{present}, #{address})
	</insert>
</mapper>